{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="pad-top">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form action="/create-user" method="post">
                            <div class="form-group has-feedback">
                                <label for="username" class="col-sm-3 control-label">Pseudo</label>
                                <div class="col-sm-9 mg-bot">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Pseudo utilisateur">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password" class="col-sm-3 control-label">Mot de passe</label>
                                <div class="col-sm-9 mg-bot">
                                    <input type="password" class="form-control" name="password" id="password"
                                           placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password-confirm" class="col-sm-3 control-label">Confirmation mot de passe</label>
                                <div class="col-sm-9 mg-bot">
                                    <input type="password" class="form-control" name="password-confirm" id="password-confirm"
                                           placeholder="Confirmation du mot de passe">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="role" class="col-sm-3 control-label">Roles</label>
                                <div class="col-sm-9 mg-bot">
                                    <select class="form-control select2" style="width: 100%;" name="role" id="role">
                                        {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.roleType }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-xs-8">
                                    {% for error in errors %}
                                        {% if error|length > 0 %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Créer utilisateur</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}