{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if app.session.get('role') == '1' %}
            <div class="col-md-12">
                Magasinier
            </div>
        {% endif %}
        {% if app.session.get('role') == '2' %}
            <div class="col-md-12">
                Responsable de stock
            </div>
        {% endif %}
        {% if app.session.get('role') == '3' %}
            <div class="col-md-12">
                Administrateur
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}