<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            {% if app.session.get('role') == '1' %}
                <li class="active">
                    <a href="/list-products">
                        <i class="fa fa-archive"></i>
                        Liste des produits</a>
                </li>
            {% endif %}
            {% if app.session.get('role') == '2' %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-archive"></i>
                        <span>Produits</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="/list-products">
                            <i class="fa fa-circle-o"></i>
                            Liste des produits</a>
                    </li>
                    <li class="active">
                        <a href="/create-product">
                            <i class="fa fa-circle-o"></i>
                            Creer un produit</a>
                    </li>
                    <li class="active">
                        <a href="/create-category">
                            <i class="fa fa-th"></i>
                            Creer une categorie</a>
                    </li>
                </ul>
            {% endif %}
            {% if app.session.get('role') == '3' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Produits</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="/list-products">
                            <i class="fa fa-circle-o"></i>
                            Liste des produits</a>
                    </li>
                    <li class="active">
                        <a href="/create-product">
                            <i class="fa fa-circle-o"></i>
                            Creer un produit</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="/create-users">
                    <i class="fa fa-user"></i>
                    Créer utilisateur</a>
            </li>
            <li class="active">
                <a href="/create-category">
                    <i class="fa fa-th"></i>
                    Creer une categorie</a>
            </li>
            {% endif %}
        </ul>
    </section>
</aside>